*, body, html {
    margin: 0;
    padding: 0;
    font: 1.03em "Open Sans", sans-serif;
}

body {
    width: 90%;
    background-image: url(img/background-pattern.jpg);
    line-height: 1.5;
    text-align: left;
}

.body {
    margin: 70px auto;
    width: 70%;
    clear: both;
}

/* ------------------ MENU ------------------ */

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    height: 60px;
    z-index: 100;
}

.menu #logo {
    float: left;
    height: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    line-height: 30px;
    display: none;
}

.myLogo {
    float: left;
    height: 40px;
    padding: 10px 30px;
}

.menu > ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}

.menu > ul >li {
    float: left;
}

.menu-item {
    display: inline-block;
    padding: 15px 20px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #ff0055;
}

/* ------------------ STYLING SUB ------------------ */

.sub-content {
    position: absolute;
    top: 60px;
    overflow: hidden;
    background-color: #333;
    max-height: 0;
}

.sub-content a {
    color: #fff;
    text-decoration: none;
}

.sub-drop ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sub-drop ul li a {
    display: inline-block;
    padding: 10px 20px;
}

.sub-drop ul li:hover {
    background-color: #ff0055;
}

/* ------------------ CONTROLING ------------------ */

.menu-item:focus {
    background-color: #ff0055;
}

.menu ul li:hover .sub-content {
    max-height: 400px;
    overflow: visible;
    transition: max-height 0.3s ease-in;
    -webkit-transition: max-height 0.3s ease-in;
    -moz-transition: max-height 0.3s ease-in;
}

#rmenu {
    float: right;
}

ul #subx-menu {
    position: absolute;
    top: 98px;
    right: 150px;
    background-color: #333;
    overflow: hidden;
    max-width: 0;
}

.sub-drop ul li:hover > ul#subx-menu {
    max-width: 400px;
    transition: max-width 0.5s ease-in;
    -webkit-transition: max-width 0.5s ease-in;
    -moz-transition: max-width 0.5s ease-in;
}

/* ------------------ SUB DROP ------------------ */

.sub-drop > ul {
    visibility: hidden;
    opacity: 0;
}

.menu ul li:hover .sub-drop > ul {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s ease-in;
}

/* ------------------ CONTENT ------------------ */


.sameTxt {
    color: #ff0055;
    padding-top: 30px;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.myImg {
    padding-top: 40px;
    text-align: center;
    margin: auto;
    width: 100%;
}

.myImg img {
    border: 1px solid #999;
}

.parg {

    margin: 2% 0;
    float: left;
    background-color: white;
    border-radius: 5px;
    -webki-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
}

.parg p {
    margin: 10px;
}

/*********************** FOOTER CONTENT **************************/

.footer {
    margin: 0 0 5px 0;
    float: left;
    width: 100%;
    background-color: #34495e;
    height: 60px;
    border-radius: 5px;
    -webki-border-radius: 5px;
    -moz-border-radius: 5px;
}

.footer p {
    color: white;
    text-align: center;
    margin-top: 20px;
}



























