/*  --> font-family FROM GOOGLE: */
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* Restore the original values of the browser */
body, html, * {
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
}