/*  --> font-family FROM GOOGLE: */

@import url('https://fonts.googleapis.com/css?family=Cairo');

/* Restore the original values of the browser */

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;

    /*text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}

#container {
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 32px;
    color: #253342;
}

a {
    text-decoration: none;
    color: white;
} a:link {
    color: white;
} a:hover {
    color: #f9ad81;
}
